/* globales *//* globales *//* globales *//* globales *//* globales */

@import url(`https://fonts.googleapis.com/css2?family:Monserrat&display=swap`);

body{
    font-family: "Monserrat" sans-serif;
    overflow-x: hidden;
}

/* menu *//* menu *//* menu *//* menu *//* menu *//* menu */

#menu li a{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
#menu form button{
    font-size: 18px;
    font-weight: bold;

}

/* cuerpo *//* cuerpo *//* cuerpo *//* cuerpo *//* cuerpo *//* cuerpo */

.carousel-inner{
    
    height: 100;
}



/* pie de pagina *//* pie de pagina *//* pie de pagina */


footer{
    background-color: black;
    min-height: 100px;
}
footer p{
    color: white;
    text-align: center;
}
#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: white;
}



                                /*  CONTACTO */




/* cuerpo de contacto *//* cuerpo de contacto *//* cuerpo de contacto */

#contenedor-formulario{
 
    background: white;
    border-radius: 5px;
    max-width: 500px;


}
#titulo-formulario{
    color: black;
}

  



/* media queries *//* media queries *//* media queries */

@media  (max-width:768px){
    #texto #equipo #desarrollo {
        width: 90% !important;
    }
    
}



